@import "../../variables.scss";

.TaskInput {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.Input {
  width: 100%;
  padding: 12px 20px;
  font-size: .9rem;
  border: 1px solid $divider-color;
  border-radius: 20px;
  outline: none;

  font-family: 'Lato', sans-serif;

  &:focus {
    border: 1px solid $primary-color-light;
  }
}

.Button {
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  color: $divider-color;
  transition: color .1s;

  &:hover {
    color: $primary-color-light;
  }

  ion-icon {
    font-size: 2.5rem;
    --ionicon-stroke-width: 18px;
  }
}