@import "../../variables.scss";

.TaskInput {
  padding: 16px 0;
}

.Input {
  width: 100%;
  padding: 12px 20px;
  font-size: .9rem;
  border: 1px solid $accent-color;
  border-radius: 20px;
  outline: none;

  font-family: 'Lato', sans-serif;

  &:focus {
    border: 1px solid $primary-color;
  }
}
