@import "../../variables.scss";

.MainContainer {
  width: 500px;
  height: 85vh;
  background-color: $primary-color-text;
  padding: 20px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}